<section class="testimonial-slider">
    <div class="page-width">
        <h2>{{ section.settings.testimonial-slider }}</h2>
        <div class="testimonial-track">

            {%- for block in section.blocks -%}
            <div class="item">
                <div class="card">
                    <div class="front">
                        <div class="logo-wrapper">
                            <img src="{{ block.settings.logo | img_url }}" alt="Logo image" class="logo">
                        </div>
                        <div class="heading-wrapper">
                            <h3>{{ block.settings.heading }}</h3>
                        </div>
                        <div class="year-wrapper">
                            <h5>{{ block.settings.year }}</h5>
                        </div>
                    </div>
                    <div class="back">
                        <p class="award-desc">{{block.settings.back-text}}</p>
                    </div>
                </div>
            </div>
            {%- endfor -%}

        </div>
    </div>
</section>



{% schema %}
{
    "name": "Testimonial Slider",
    "settings": [
        {
            "id": "testimonial-slider",
            "type": "text",
            "label": "Add a testimonial slider"
        }
    ],
    "templates": ["index"],
    "presets": [
        {
            "name": "Testimonial Slider",
            "category": "Sliders"
        }
    ],
    "blocks": [
        {
            "name": "Testimonial Card",
            "type": "testimonial-card",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "logo",
                    "label": "Logo"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "text",
                    "id": "year",
                    "label": "Year"
                },
                {
                    "type": "text",
                    "id": "back-text",
                    "label": "Back text"
                }
                
            ]
        }
    ]
}
{% endschema %}


{% javascript %}
  var owl = $('.testimonial-track').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:2
        },
        1000:{
            items:3
        },
        1600:{
            items:4
        }
    }
});
$('.prev-slide').click(function() {
    owl.trigger('prev.owl.carousel');
})
// Go to the previous item
$('.next-slide').click(function() {
    owl.trigger('next.owl.carousel');
})
  {% endjavascript %}