<section class="testimonial-slider">
    <div class="page-width">
        <h2>{{ section.settings.testimonial-slider }}</h2>
        <div class="testimonial-track">

            {%- for block in section.blocks -%}
                <div class="testimonial-card">
                    <div class="testimonial-meta">
                        <img src="{{ block.settings.avatar | img_url }}" alt="Testimonial Image" class="avatar">
                        <div class="author-meta">
                            <h3>{{ block.settings.name }}</h3>
                            <div class="star-rating">

                                {% for i in (1..5) %}
                                    {% if i > block.settings.rating %}
                                        {% break %}
                                    {% else %}
                                        <img src="{{ 'star.png' | asset_url }}" alt="Star Rating">
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <p>{{ block.settings.testimonial }}</p>
                    </div>
                </div>
            {%- endfor -%}

        </div>
    </div>
</section>



{% schema %}
{
    "name": "Testimonial Slider",
    "settings": [
        {
            "id": "testimonial-slider",
            "type": "text",
            "label": "Add a testimonial slider"
        }
    ],
    "templates": ["index"],
    "presets": [
        {
            "name": "Testimonial Slider",
            "category": "Sliders"
        }
    ],
    "blocks": [
        {
            "name": "Testimonial Card",
            "type": "testimonial-card",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "avatar",
                    "label": "Avatar Image"
                },
                {
                    "type": "text",
                    "id": "name",
                    "label": "Name"
                },
                {
                    "type": "text",
                    "id": "testimonial",
                    "label": "Testimonial Content"
                },
                {
                    "type": "range",
                    "id": "rating",
                    "label": "Star Rating",
                    "default": 5,
                    "min": 0,
                    "max": 5
                }
            ]
        }
    ]
}
{% endschema %}


{% javascript %}
  var owl = $('.testimonial-track').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:2
        },
        1000:{
            items:3
        },
        1600:{
            items:4
        }
    }
});
$('.prev-slide').click(function() {
    owl.trigger('prev.owl.carousel');
})
// Go to the previous item
$('.next-slide').click(function() {
    owl.trigger('next.owl.carousel');
})
  {% endjavascript %}